{% extends "base.html" %}

{% block content %}
<h1>Register to Blogz!</h1>
<form action="/register" method="post">

    <style>
        form {
            background-color: #eee;
            padding: 20px;
            margin: 0 auto;
            width: 540px;
            font: 16px sans-serif;
            border-radius: 10px;
            }
        .error {color:red;}
    </style>
    <body>

            Username:
            <input type="text" name="username" value='{{username}}' />
            <p class='error'>{{username_error}}</p>

            <br> Password: 
            <input type="password" name="password" />
            <p class='error'>{{password_error}}</p>

            <br> Confirm Password:
            <input type="password" name="verify" />
            <p class='error'>{{verify_error}}</p>

            <br><input type="submit" value="Sign me up!"/>
    </body>
</form>
{% endblock %}